* {
  margin: 0px;
  padding: 0px;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  color: white;
}

.heading h2 {
  margin: 15px;
}

.heading ul {
  list-style: none;
  display: flex;
}

.heading ul li {
  margin: 15px 20px;
}

.heading ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* login component style  */
.loginFormContainer {
  width: 30%;
  margin: 25px auto;
  padding: 20px;
  background-color: lightskyblue;
  border: 2px solid black;
  border-radius: 5px;
}

.formInput {
  margin-bottom: 8px;
  width: 100%;
}

.formLabel {
  display: block;
}

.inputClass {
  width: 100%;
  height: 20px;
}

.formButton {
  margin: 10px 0;
}

.inputButton {
  width: 20%;
  padding: 5px;
  background-color: #22BB33;
  border: none;
  border-radius: 3px;
}