* {
  margin: 0px;
  padding: 0px;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  color: white;
}

.heading h2 {
  margin: 15px;
}

.heading ul {
  list-style: none;
  display: flex;
}

.heading ul li {
  margin: 15px 20px;
}

.heading ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

/* login component style  */
.loginFormContainer {
  width: 30%;
  margin: 25px auto;
  padding: 20px;
  background-color: lightskyblue;
  border: 2px solid black;
  border-radius: 5px;
}

.formInput {
  margin-bottom: 8px;
  width: 100%;
}

.formLabel {
  display: block;
}

.inputClass {
  width: 100%;
  height: 20px;
}

.formButton {
  margin: 10px 0;
}

.inputButton {
  width: 20%;
  padding: 5px;
  background-color: #22BB33;
  border: none;
  border-radius: 3px;
}

/* profile component style  */

.profileContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 90vh;
}

.profileMenu {
  grid-column: 1/3;
  background-color: bisque;
}

.profileMenu a {
  text-decoration: none;
  display: block;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: 3px 0;
  background-color: lightseagreen;
  color: floralwhite;
}

.profileContent {
  grid-column: 3/-1;
}

/* edit profile component style  */
.editProfileContainer {
  width: 30%;
  padding: 25px 15px;
}

/* upload photo container style  */
.uploadPhotoContainer {
  width: 30%;
  padding: 25px 15px;
}

.uploadPhotContainer textarea {
  width: 100%;
}

/* photoCard  */
.photoCard {
  width: 140px;
  height: 170px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  margin: 10px;
}

.photoCard img {
  width: 100%;
  height: 100px;
}

/* myPhotosContainer  */
.myPhotosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

/* homeContainer  */
.homeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 250px;
  gap: 10px;
  padding: 10px;
}

.photoDetailsCard {
  border: 1px solid black;
  border-radius: 3px;
}

.photoDetailsCard .imageName {
  text-align: center;
}

.photoDetailsCard .imageCategory {
  text-align: center;
}

.photoDetailsCard img {
  width: 100%;
  height: 170px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.imageNavigation {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.imageDetailsButton {
  width: 40%;
  margin: 0 3px;
}

.imageDetailsButton button {
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding: 2px;
  background-color: #198754;
  color: white;
}

.likeIcon {
  padding: 2px;
}

.imageLike {
  font-size: 16px;
  padding: 1px;
}

.imageLikeInfo {
  display: flex;
  margin-left: 30px;
}