* {
  margin: 0px;
  padding: 0px;
}

.heading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
  color: white;
}

.heading h2 {
  margin: 15px;
}

.heading ul {
  list-style: none;
  display: flex;
}

.heading ul li {
  margin: 15px 20px;
}

.heading ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}